<div class="col-md-8">
    <h1>
        Project Analyzer : {{ params['title'] }}
        <br>
        <small>{{ params['description'] }}</small>
    </h1>
</div>
<div class="col-md-4" style="margin-top:23px; font-size:20px">
    <div class="label-{% if projectAnalyzer.analyze.tuSuccess %}success{% else %}danger{% endif %}" id="encartResultat">
        <table>
            <tr>
                <td>{% trans %}lastAnalyze{% endtrans %}</td>
                <td>{{ projectAnalyzer.analyze.readableDateTime }}</td>
            </tr>
            <tr>
                <td>{% trans %}duration{% endtrans %}</td>
                <td>{{ projectAnalyzer.analyze.readableExecTime }}</td>
            </tr>
            {% if projectAnalyzer.isScoreEnable %}
                <tr>
                    <td>{% trans %}score.note{% endtrans %}</td>
                    <td {% if projectAnalyzer.analyze.getReadableDateTime() != projectAnalyzer.testInfo['dateTimeCC'] and projectAnalyzer.analyze.getTuSuccess() %} style="color: red;font-weight: normal" {% endif %} >
                        {{ projectAnalyzer.analyze.score }} / 20
                        <img
                                src="{{ asset('bundles/jdphpprojectanalyzer/img/question.png') }}"
                                class="help"
                                data-toggle="popover"
                                data-trigger="focus"
                                data-placement="left"
                                tabindex="0"
                                style="margin-left: 20px"
                                title="{% trans %}score.popTitle{% endtrans %}"
                                data-content="
                    {% trans %}score.popContent.begin{% endtrans %}

                    <ul>
                    <li>Code Sniffer score</li>
                    <li>Copy paste score</li>
                    <li>Security checker score</li>
                    <li>Tests status x code coverage</li>
                    <li>{% trans %}score.popContent.sizeProject{% endtrans %}</li>
                    </ul>
                    {% trans %}score.popContent.fitWeighting{% endtrans %}
                    <hr>
                    {% trans %}score.popContent.currentSet{% endtrans %}
                    <ul>
                        <li>
                            {% trans %}score.popContent.csWeight{% endtrans %} :
                            {{ projectAnalyzer.getScoreWeightParam('csWeight') }}
                        </li>
                        <li>
                            {% trans %}score.popContent.cpWeight{% endtrans %} :
                            {{ projectAnalyzer.getScoreWeightParam('cpWeight') }}
                        </li>
                        <li>
                            {% trans %}score.popContent.scWeight{% endtrans %} :
                            {{ projectAnalyzer.getScoreWeightParam('scWeight') }}
                        </li>
                        <li>
                            {% trans %}score.popContent.testWeight{% endtrans %} :
                            {{ projectAnalyzer.getScoreWeightParam('testWeight') }}
                        </li>
                        <li>
                            {% trans %}score.popContent.sizeWeight{% endtrans %} :
                            {{ projectAnalyzer.getScoreWeightParam('locWeight') }}
                        </li>
                        <li>
                            {% trans %}score.popContent.scale{% endtrans %} :
                            {{ projectAnalyzer.getParam('score', 'projectSize') }}
                        </li>
                    </ul>
                    ">
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td>Symfony</td>
                <td>{{ projectAnalyzer.analyze.symfonyVersion }}</td>
            </tr>
        </table>
    </div>
</div>
