<!DOCTYPE html>
<html>
    <head>
        <title>Php Project Analyzer</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ asset('bundles/jdphpprojectanalyzer/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/jdphpprojectanalyzer/css/pa.css') }}" rel="stylesheet">

        <script src="{{ asset('bundles/jdphpprojectanalyzer/js/jquery-2.1.0.min.js') }}"></script>
        <script src="{{ asset('bundles/jdphpprojectanalyzer/js/tooltip.js') }}"></script>
        <script src="{{ asset('bundles/jdphpprojectanalyzer/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/jdphpprojectanalyzer/js/pa.js') }}"></script>

        <link rel="icon" href="assets/img/favicon.ico" />

    </head>
    <body>
        <div class="container-fluid">
          <div class="row">{% include 'JDPhpProjectAnalyzerBundle:Main:header.html.twig' %}</div>
            <br>
            <div class="row">
                <div class="col-md-4">{% include 'JDPhpProjectAnalyzerBundle:Main:quantite.html.twig' %}</div>

                <div class="col-md-4">{% include 'JDPhpProjectAnalyzerBundle:Main:qualite.html.twig' %}</div>

                <div class="col-md-2">
                    {% include 'JDPhpProjectAnalyzerBundle:Main:lanceur.html.twig' %}
                    {% include 'JDPhpProjectAnalyzerBundle:Main:btnDetail.html.twig' %}
                </div>
                 <div class="col-md-2">
                    {% include 'JDPhpProjectAnalyzerBundle:Main:lien.html.twig' %}
                </div>
            </div>

            <div class="row">
                {% include 'JDPhpProjectAnalyzerBundle:Main:detail.html.twig' %}
            </div>
        </div>
    </body>

    {% if projectAnalyzer.analyzeInProgress %}
        <script>
        var urlLanceur = "{{path('jd_php_project_analyzer_analyze')}}";
        $('document').ready(function () {
            refreshLanceur();
        });
        </script>
    {% endif %}

    <script>
        var urlLanceur = "{{path('jd_php_project_analyzer_analyze')}}";
    </script>
</html>
